/* styles.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: antiquewhite;
}

.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 4 4 10px rgba(250, 212, 0, 0.1);
    width: 300px;
}

form {
    display: flex;
    flex-direction: column;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
    color: rgb(73, 71, 71);
}

.input-group {
    margin-bottom: 15px;
    position: relative;
    width: 250px;
    padding-left: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    border-radius: 10px;
}

button[type="button"] {
    position: absolute;
    right: 1px;
    top: 32px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: #007bff;
}

button[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 15px;
    width: 140px;
    margin-left: 80px;
}

button[type="submit"]:hover {
    transition: 0.5s;
    border-radius: 20px;
}
